*{
 
    padding: 3px;
}
body{
    margin: 2px;
}
#btn1 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 3px solid rgb(87, 86, 86);
    border-radius: 5px;
}



#btn2 {
    margin: 20px;
 
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    padding: 15px;
    transition: all 2s;
}
#btn2:hover {
box-shadow: 5px 2px 3px 4px;
border: 2px solid rgb(134, 134, 134);

}
.display{
    display: none;
}